<template>
  <Page>
    <!-- Content -->
    <div class="wide-content">
      <h1 class="mt-5 light mb-1">Device codenames</h1>
      <p class="mb-4">
        Android device codenames are the unique development project name that
        OEMs use while the device is in the development state. All Android
        devices have a codename. You must have seen them listed in some custom
        ROM, TWRP recovery, and CF-Auto-Root archives. We use device codenames
        for testing and development purposes.
      </p>

      <div class="device-codenames">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr
                v-for="device in $page.allDevice.edges.map((n) => n.node)"
                :key="device.codename"
              >
                <td>{{ device.codename }}</td>
                <td>{{ device.name }}</td>
                <td class="d-print-none">
                  <g-link :to="device.path">
                    <g-image
                      src="~/assets/img/symbols/external-link.svg"
                      class="dark-invert-40"
                      alt="device-link-icon"
                    />
                  </g-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </Page>
</template>

<page-query>
query {
  allDevice (sortBy: "codename", order: ASC) {
    totalCount
    edges {
      node {
        codename
        name
        path
      }
    }
  }
}
</page-query>

<script>
import Page from "~/layouts/Page.vue";

export default {
  metaInfo: {
    title: "Device codenames",
    meta: [
      {
        name: "keywords",
        content:
          "Ubuntu Touch, mobile, Linux, Android, privacy, smartphone, codename"
      },
      {
        name: "description",
        content:
          "Explore devices compatible with Ubuntu Touch. Device codenames are used in development and testing instead of the commercial name. Check this list to know which device we are talking about."
      },
      {
        property: "og:url",
        content: "https://devices.ubuntu-touch.io"
      },
      {
        property: "og:title",
        content: "Device codenames • Ubuntu Touch • Linux Phone"
      },
      {
        property: "og:description",
        content:
          "Explore devices compatible with Ubuntu Touch. Device codenames are used in development and testing instead of the commercial name. Check this list to know which device we are talking about."
      }
    ]
  },
  components: {
    Page
  }
};
</script>
