<template>
  <!-- Header -->
  <header class="header d-print-none">
    <div class="container">
      <!-- Logo -->
      <div class="header-logo">
        <g-link to="/">
          <ThemedImage
            light-src="img/ubuntu-touch-logo.svg"
            dark-src="img/ubuntu-touch-logo-dark.svg"
            alt="ubuntu-touch-logo"
          />
        </g-link>
      </div>

      <!-- Nav -->
      <div class="header-nav">
        <div class="container">
          <b-collapse id="headerNav" class="collapse fade">
            <!-- Open Store -->
            <div class="header-dropdown">
              <a class="header-dropdown-toggler" href="https://open-store.io/">
                Open Store
                <g-image
                  class="dark-invert-40 angle-icon d-lg-none"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
            </div>

            <!-- About Ubuntu Touch -->
            <div class="header-dropdown">
              <a
                class="header-dropdown-toggler"
                href="https://ubuntu-touch.io/"
              >
                About Ubuntu Touch
                <g-image
                  class="dark-invert-40 angle-icon d-lg-none"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
            </div>

            <!-- UBports Foundation -->
            <div class="header-dropdown">
              <a class="header-dropdown-toggler" href="https://ubports.com/">
                UBports Foundation
                <g-image
                  class="dark-invert-40 angle-icon d-lg-none"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
            </div>

            <!-- Donate -->
            <div class="header-dropdown">
              <a
                class="header-dropdown-toggler"
                href="https://ubports.com/donate"
              >
                Donate
                <g-image
                  class="dark-invert-40 angle-icon d-lg-none"
                  src="~/assets/img/symbols/angle-icon.svg"
                  alt="angle-icon"
                />
              </a>
            </div>
          </b-collapse>
        </div>
      </div>

      <!-- Hamburger -->
      <div class="header-hamburger">
        <a v-b-toggle.headerNav>
          <g-image
            src="~/assets/img/symbols/hamburger.svg"
            class="dark-invert-40"
            alt="hamburger-icon"
          />
        </a>
      </div>
      <DarkMode class="dark-mode-switch"></DarkMode>
    </div>
  </header>
</template>

<script>
import { BCollapse, VBToggle } from "bootstrap-vue";
import ThemedImage from "~/components/ThemedImage.vue";
import DarkMode from "~/components/DarkMode.vue";

export default {
  name: "HeaderContainer",
  components: {
    BCollapse,
    ThemedImage,
    DarkMode
  },
  directives: {
    "b-toggle": VBToggle
  }
};
</script>
