<template>
  <a class="action" @click="darkMode = !darkMode">
    <b v-if="!$slots.lightIcon && darkMode">☀️</b>
    <slot v-if="$slots.lightIcon && darkMode" name="lightIcon"></slot>
    <b v-if="!$slots.darkIcon && !darkMode">🌜</b>
    <slot v-if="$slots.darkIcon && !darkMode" name="darkIcon"></slot>
  </a>
</template>

<script>
export default {
  name: "DarkMode",
  data() {
    return {
      darkMode: null
    };
  },
  watch: {
    darkMode: function (val) {
      this.switchColorScheme(val);
    }
  },
  mounted() {
    if (localStorage.getItem("darkMode") == "true") {
      this.darkMode = true;
    } else {
      this.darkMode = false;
    }
    this.checkColorScheme();
  },
  methods: {
    switchColorScheme(bool) {
      const el = document.querySelector("body");
      if (bool) {
        localStorage.setItem("darkMode", true);
        el.classList.add("theme-dark");
      } else {
        localStorage.setItem("darkMode", false);
        el.classList.remove("theme-dark");
      }
    },
    checkColorScheme() {
      if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches &&
        localStorage.getItem("darkMode") === null
      ) {
        this.darkMode = true;
      }
    }
  }
};
</script>

<style lang="scss">
.action {
  cursor: pointer;
}
</style>
