<template>
  <!-- Installer -->
  <div class="banner-grey port installer">
    <h1 class="mb-2">How to install</h1>
    <p>
      You can install Ubuntu Touch on this device using the UBports Installer on
      your computer. <br /><span class="bold"
        >Unless device specific instructions are provided</span
      >
      by the porter, please follow these general steps:
    </p>
    <ol class="pl-4">
      <li>
        Unlock the bootloader, please search the internet for instructions
      </li>
      <li>Install the required Android/stock rom version ¹</li>
      <li>Select the appropriate installer package for your computer</li>
      <li>Plug in your device and follow the on-screen instructions</li>
      <li>The installer will take it from there</li>
    </ol>
    <p>
      ¹ Devices generally require a specific version of Android/stock rom to be
      installed. This depends on the halium version the port is build on. For
      example, if the port is based on halium 9, make sure you have Android
      version 9 installed
      <span class="text-orange"> before running the installer</span>.
    </p>

    <div class="btns mt-5">
      <!-- Ubuntu -->
      <a class="btn btn-download" href="/installer/deb">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/ubuntu.svg"
          alt="ubuntu-img"
        />
        <div>
          <p class="bold">Ubuntu</p>
          <p class="small">deb (64)</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
      <!-- Mac -->
      <a class="btn btn-download" href="/installer/dmg">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/mac.svg"
          alt="mac-img"
        />
        <div>
          <p class="bold">Mac</p>
          <p class="small">dmg x64</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
      <!-- Windows -->
      <a class="btn btn-download" href="/installer/exe">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/win.svg"
          alt="win-img"
        />
        <div>
          <p class="bold">Windows</p>
          <p class="small">exe x86</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
      <!-- Linux Snap -->
      <a class="btn btn-download" href="/installer/snap">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/linux.svg"
          alt="linux-img"
        />
        <div>
          <p class="bold">Linux</p>
          <p class="small">snap</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
      <!-- Linux AppImage -->
      <a class="btn btn-download" href="/installer/appimage">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/appimage.svg"
          alt="appimage-img"
        />
        <div>
          <p class="bold">AppImage</p>
          <p class="small">x86</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
    </div>
    <div class="col-12 mb-5">
      <h4 class="h5 mt-5">Failed to install?</h4>
      <p>
        <a
          href="https://docs.ubports.com/en/latest/userguide/install.html#troubleshooting"
          target="_blank"
        >
          Try our <span class="underline">troubleshooting</span></a
        >
        on Ubports docs or
        <a
          href="https://github.com/ubports/ubports-installer/releases"
          target="_blank"
        >
          try <span class="underline">older versions</span></a
        >
        of the installer if the problem keeps occurring.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "InstallerBanner"
};
</script>
